@import './theme.css';
@import './NowPlaying.css';
@import './Controls.css';
@import './Search.css';
@import './Queue.css';

.audio-player {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  display: flex;
  gap: 30px;
  margin-bottom: 16px;
}

.center-section {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.right-section {
  flex: 1;
  min-width: 300px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Responsive layout */
@media (max-width: 1200px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .center-section {
    width: 100%;
    max-width: 600px;
  }

  .right-section {
    width: 100%;
    max-width: 650px;
  }

}

@media (max-width: 400px) {
  .audio-player {
    padding: 10px;
  }
}

