@import '../../../styles/theme.css';
@import '../../../styles/context-menu.css';
@import '../NowPlaying/NowPlaying.css';
@import '../Controls/Controls.css';
@import '../Search/Search.css';
@import '../Queue/Queue.css';

.audio-player {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

.main-content {
  display: flex;
  gap: 30px;
  margin-bottom: 16px;
}

.center-section {
  flex: 1;
  min-width: 400px;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.right-section {
  flex: 1;
  min-width: 400px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1200px) {
  .main-content {
    flex-direction: column;
    align-items: center;
  }

  .center-section {
    width: 100%;
    max-width: 600px;
  }

  .right-section {
    width: 100%;
    max-width: 650px;
  }

}

@media (max-width: 400px) {
  .audio-player {
    padding: 10px;
  }
}

